body {
    font-family: 'Courier New', Courier, monospace;
}

.container {
    width: 800px;
    margin: 30px auto;
    text-align: center;
}

button {
    cursor: pointer;
    padding: 8px 20px;
    border-radius: 10px;
    border: none;
    color: white;
    background-color: black;
    width: 100%;
    padding: 18px;
    font-size: 20px;
}

input {
    width: 100%;
    box-sizing: border-box;
    padding: 15px;
    border-radius: 12px;
    margin-bottom: 12px;
    font-size: 17px;
    border: 1px solid lightgray;
}

input:focus {
    outline: none;
    border: 1px solid royalblue;
}

.flex {
    display: flex;
    gap: 12px;
}

#result {
    font-size: 20px;
    width: 600px;
    margin: 20px auto;
    z-index: -1;
    /* width: 0%; */
    transition: width 0.5s;
    transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
}

#result:hover {
    background-color: #F2BB05;
    /* hardcoded */
    width: 500px;
    padding: 10px;
    cursor:grab;
    border-radius: 20% 25% 20% 24%;

}